<footer class="footer bg-header-footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="media footer-title">
          <div class="media-body">
            <h1 class="display-3">{{ site.data.settings.name }}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col my-3">
        <div>
          <h3 class="display-4">Recapiti</h3>
          <address>
            Via blanditiis soluta exercitationem<br>
            blanditiis soluta exercitationem<br>
            Tel. (+00) 00.0000.0000
          </address>
        </div>
      </div>

      <div class="col my-3">
        <div>
          <h3 class="display-4">Email</h3>
          <p><a href="" class="white-color">indirizzo.pec@gov.it</a></p>
        </div>
      </div>
    </div>

    <ul class="list-inline border-top">
      <li class="list-inline-item"><a href="/contatti" class="white-color" title="Contatti">Contatti</a></li>
      <li class="list-inline-item"><a href="" class="white-color" title="Privacy policy">Privacy</a></li>
      <li class="list-inline-item">autem reiciendis maiores</li>
    </ul>
  </div>
</footer>
