<footer class="footer bg-300 py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="media footer-title">
          <div class="media-body">
            <h1 class="display-3">{{ site.data.settings.name }}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col my-3">
        <h2 class="display-3 mb-4">Contatti</h2>
        <div>
          <h3 class="display-4">Recapiti</h3>
          <address>
            Via blanditiis soluta exercitationem<br>
            blanditiis soluta exercitationem<br>
            Tel. (+00) 00.0000.0000
          </address>
        </div>
      </div>

      <div class="col my-3">
        <h2 class="display-3 mb-4">Contatti</h2>
        <div>
          <h3 class="display-4">Indirizzo PEC</h3>
          <p><a href="">indirizzo.pec@gov.it</a></p>
        </div>
      </div>

      <div class="col my-3">
        <h2 class="display-3 mb-4">Seguici su</h2>
        <div>
          <ul class="list-inline">
            <li class="list-inline-item"><a href=""><i class="it-facebook"></i><span class="sr-only">Facebook</span></a></li>
            <li class="list-inline-item"><a href=""><i class="it-twitter"></i><span class="sr-only">Twitter</span></a></li>
            <li class="list-inline-item"><a href=""><i class="it-youtube"></i><span class="sr-only">Youtube</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <ul class="list-inline border-top">
      <li class="list-inline-item"><a href="" title="Privacy policy">Privacy</a></li>
      <li class="list-inline-item"><a href="" title="Note legali">Note legali</a></li>
      <li class="list-inline-item"><a href="" title="Contatti">Contatti</a></li>
      <li class="list-inline-item"><a href="" title="a est rerum">a est rerum</a></li>
      <li class="list-inline-item">autem reiciendis maiores</li>
    </ul>
  </div>
</footer>
