---
layout: default
---

<main role="main">
  <section class="hero hero-fluid p-5">
    <div class="container">
      <h1 class="white-color pt-5 w-50">{{ page.title }}</h1>
      <p class="white-color pb-5">{{ page.abstract }}</p>
    </div>
  </section>
  <section class="container">
    <div class="row pb-5">
      {% for post in page.posts limit: 4 %}
        <div class="col-12 col-sm-6">
          <div class="card">
            <img class="card-img-top" src="{{ post.cover.url }}" />
            <div class="card-body">
              <h4 class="card-title">{{ post.title }}</h4>
              <div class="body_text">{{ post.abstract }}</div>
              <a href="/post/{{ post.slug }}" class="btn btn-primary">Vai</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="body_text">
      {{ page.content }}
    </div>
  </section>
</main>
