---
layout: default
---

<main role="main">
  <section class="container">
    <div class="row">
      <div class="col-12 col-sm-5">
        <h1 class="w-75">{{ page.title }}</h1>
        {% for tag in page.tags %}
          <p class="badge badge-success">{{ tag.name }}</p>
        {% endfor %}
      </div>
      <div class="col-12 col-sm-7">
        <img class="card-img-top" src="{{ page.cover }}" />
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-12">
        {{ page.content }}
      </div>
    </div>
  </section>
</main>
